body 
  margin: 0
  padding: 0
  background: #efefef
  font-family: 'Roboto', sans-serif

.content
  margin-top: 72px

.date-text-field input
  padding: 6px 38px 7px 0

a:hover
  text-decoration: none !important

.notificationItem:hover
  background: #ebebeb
